.bash_history  
.cargo       
geckodriver.log  
iprpBuild  
.mozilla  
.profile       
.sudo_as_admin_successful
.bash_logout   
.config      
.git             
iprpLog    
.npm      
.pytest_cache    
.rustup              
testLastline.sh
.bashrc           
.gitconfig       
.local     
.nvm      
.python_history  
.selected_editor     
.wget-hsts
.cache                
log.txt    
.pm2                 
www/
Rocket.toml