# Insert some mock data
db_insert_mock_data = true
# Set timespan for reviews
review_time_days = 0
review_time_hours = 0
review_time_minutes = 2
# Rocket internal db config
# Please specify a correct db string!
[global.databases]
iprp_db = { url = "mysql://user:pw@link:port/db" }